

header {
    height: calc(100svh - var(--menu-height));
    height: calc(100dvh - var(--menu-height));
    height: calc(100vh - var(--menu-height));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/images/posters/mobile.png");
        background-size: cover;
        background-position: center;
    }

    .background-color {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 200;
    }

    .text {
        color: var(--color);
        text-align: center;
        z-index: 999;
    }
}

.brands-header {
    padding: 0.5em;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.brands {
    padding: 0.5em;
    background: #000;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .brand-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5em;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        border-radius: 3.25rem;

        img {
            width: 120px;
            padding: 0.5em;
            transform-origin: center;
            transition: transform 0.5s ease-in-out;
        }

        &:hover {
           background:rgba(4, 0, 255, 0.5);

           img {
                transform: rotate(360deg);
           }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .background-image {
            background: url("/images/posters/desktop.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

}
