:root {
    --menu-height: 4rem;
    --menu-logo-width: 12rem;
    --background-color: #000;
    --color: #fff;
    --brand-color: #0000ff;
    --menu-padding: .5rem;
    --font-family: "mendl-sans-dusk", sans-serif;
    --light-weight: 300;
    --bold-weight: 700;
}

.menu {
    height: var(--menu-height);
    background-color: var(--background-color);
    color: var(--color);
    padding: var(--menu-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: var(--light-weight);

    button {
        background-color: transparent;
        border: none;
        color: var(--color);
        font-size: 1.5rem;
        cursor: pointer;

        span {
            display: block;
            width: 1.5rem;
            height: .25rem;
            background-color: var(--color);
            margin: .25rem 0;
        }
    }

    .logo img {
        width: var(--menu-logo-width);
    }

    nav {
        display: flex;
        align-items: center;
        z-index: 9999;
        display: none;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            margin-left: 1rem;
            text-decoration: none;
            color: var(--color);
            font-weight: var(--bold-weight);
            font-size: 1.25rem;
        }
    }

    .active {
        display: block;
        position: absolute;
        top: var(--menu-height);
        left: 0;
        width: 100%;
        height: max-content;
        background-color: var(--background-color);
    }
}

@media (min-width: 768px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;

        button {
            display: none;
        }

        nav {
            display: block;

            ul {
                display: flex;
                margin-right: var(--menu-padding);

                li {
                    position: relative;
                }

                a {
                    color: var(--color);
                    text-decoration: none;
                    font-weight: var(--bold-weight);
                    font-size: 1.25rem;
                    transition: color .3s ease;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -.5rem;
                        left: var(--menu-padding);
                        width: 100%;
                        height: .25rem;
                        background-color: var(--brand-color);
                        border-top-right-radius: .1rem;
                        border-top-left-radius: .1rem;
                        transform-origin: right;
                        transform: scale(0);
                        transition: transform .3s ease;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -.5rem;
                        left: var(--menu-padding);
                        width: 100%;
                        height: .25rem;
                        background-color: var(--brand-color);
                        border-bottom-right-radius: .1rem;
                        border-bottom-left-radius: .1rem;
                        transform-origin: right;
                        transform: scale(0);
                        transition: transform .3s ease;
                    }

                }

                a:hover {
                    color: var(--brand-color);
                    -webkit-animation: glow 1s ease-in-out infinite alternate;
                    -moz-animation: glow 1s ease-in-out infinite alternate;
                    animation: glow 1s ease-in-out infinite alternate;

                    &::before {
                        transform: scale(1);
                        transform-origin: left;
                    }

                    &::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }

                }
            }
        }
    }
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0400e6, 0 0 40px #0400e6, 0 0 50px #0400e6, 0 0 60px #0400e6, 0 0 70px #0400e6;
    }
    to {
      text-shadow: 0 0 20px #9292ff, 0 0 30px #4d4dff, 0 0 40px #4d4dff, 0 0 50px #4d4dff, 0 0 60px #4d4dff, 0 0 70px #4d4dff, 0 0 80px #4d4dff;
    }
  }
