---
import Layout from '../layouts/Layout.astro';


import '../styles/home.scss';

---

<Layout 
	title="LNP Group"
	description="LNP Group is a group of online mediums owned and operated by Stelian Cioarec."
	url="https://lnp-group.com"
	lang="en-US"
	image="/images/posters/desktop.png"
>
	<header>
		<div class="background-image"></div>
		<div class="background-color"></div>
		<div class="text">
			<h1>LNP Group</h1>
			<p>LNP Group is a group of online mediums owned and operated by Stelian Cioarec.</p>
		</div>
	</header>
	<div class="brands-header">
		<h2>Our Brands</h2>
	</div>
	<main class="brands">
		<a href="#" class="brand-link">
			<div class="invisible-layer"></div>
			<img src="/images/brands/lnp.svg" alt="LNP" />
		</a>
		<a href="https://books.lnp-group.com" class="brand-link" target="_blank">
			<div class="invisible-layer"></div>
			<img src="/images/brands/lnp-books.svg" alt="LNP Books" />
		</a>
	</main>
</Layout>