---

import '../styles/footer.scss';
---

<footer>
    <div class="logo">
        <div class="invisible-layer"></div>
        <img src="/images/logos/textmark.svg" alt="logo">
    </div>
    <div class="social-links">
        <a href="https://www.facebook.com/LNP_Group"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/LNP_Group"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com/LNP_Group"><i class="fab fa-twitter"></i></a>
    </div>
</footer>