---

import "../styles/menu.scss";

---

<div class="menu" id="menu">
    <div class="logo">
        <div class="invisible-layer"></div>
        <img src="/images/logos/lnp-group.svg" alt="LNP Group" />
    </div>
    <button id="navbar-toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </button>
    <nav id="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>

<script is:inline src="/scripts/menu.js"></script>